body{
    background-color: rgb(255, 211, 211);
    font-family:sans-serif;
}

ul{
    list-style-type:inside;
    width: 500px;
    padding-left: 1%;
}
ul li{
    padding: 5px 20px;
}

ol{
    width: 150px;
    list-style-position: inside;
    padding-left: 0%;
}

ol li{
    padding: 5px 20px;

}

img{
    width: 300px;
}

.yes{
    background: #00b80f;
    color: beige;
}
.no{
    background: #ff0000;
    color: beige;
}
.vajno{
    background: #6765d6;
    color: rgb(0, 0, 0);
}